
  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <h6>Welcome to Na9ra</h6>
      
                <h2>Explore, <em>learn</em> &amp; <span>And grow </span>with us!</h2>
                <p>E-learning excellence awaits your educational journey. Explore, learn, and grow with us!</p>
              
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="images/banner-right-image.png" alt="team meeting">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  



<div id="about" class="our-services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
        <div class="left-image">
            <img src="images/services-left-image.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
        <div class="section-heading">
          <h2>Enhance Your Skills with Our <em>E-Learning</em> Platform &amp; <span>Interactive Courses</span></h2>
          <p>Discover a flexible and engaging learning experience with our comprehensive online courses, tailored quizzes, and interactive learning modules. Perfect for lifelong learners and professionals aiming to advance their careers.</p>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="first-bar progress-skill-bar">
              <h4>Extensive Course Library</h4>
              <span>Over 500 Courses</span>
              <div class="filled-bar" style="width: 100%;"></div>
              <div class="full-bar"></div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="second-bar progress-skill-bar">
              <h4>Interactive Learning</h4>
<span style=" display: inline-block;">Engagement Rate 95%</span>
              <div class="filled-bar" style="width: 95%;"></div>
              <div class="full-bar"></div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="third-bar progress-skill-bar">
              <h4>Customized Testing & Quizzes</h4>
              <span>Adaptive Difficulty</span>
              <div class="filled-bar" style="width: 90%;"></div>
              <div class="full-bar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="services" class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="left-image wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <img src="images/about-left-image.png" alt="person graphic">
                </div>
            </div>
            <div class="col-lg-8 align-self-center">
                <div class="services">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                                <div class="icon">
                                
                             
                                      <img src="images/homework (2).png" alt="courses">
                                    
                                </div>
                                <div class="right-text">
                                    <h4>Courses</h4>
                                    <p>Explore our range of courses tailored to your needs</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                                <div class="icon">
                                    <img src="images/search.png" alt="tests">
                                </div>
                                <div class="right-text">
                                    <h4>Tests</h4>
                                    <p>Take tests to assess your knowledge and progress</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">
                                <div class="icon">
                                    <img src="images/quiz.png" alt="quizzes">
                                </div>
                                <div class="right-text">
                                    <h4>Quizzes</h4>
                                    <p>Engage in interactive quizzes to reinforce learning</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.1s">
                                <div class="icon">
                                    <img src="images/calendar (1).png" alt="events">
                                </div>
                                <div class="right-text">
                                    <h4>Events</h4>
                                    <div >
                                    <p>Stay updated on upcoming events and workshops</p></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.3s">
                                <div class="icon">
                                    <img src="images/book.png" alt="ebooks">
                                </div>
                                <div class="right-text">
                                    <h4>eBooks</h4>
                                    <p>Access our collection of educational eBooks
                                     for further learning</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  <div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
          <h2>Explore Our <em>Top</em> Courses &amp; Enhance Your <span>Skills</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
              <div class="hidden-content">
              <h4>Introduction to Programming</h4>
              <p>Begin your programming journey with this comprehensive course covering the basics.</p>
              </div>
              <div class="showed-content">
                <img src="images/Free_Vector___Code_typing_concept_illustration-removebg-preview.png" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
              <div class="hidden-content">
              <h4>Data Science & Analytics</h4>
              <p>Dive into data analysis, machine learning, and predictive modeling.</p>
              </div>
              <div class="showed-content">
                <img src="images/Growth_analytics_Customizable_Isometric_Illustrations___Amico_Style__1_-removebg-preview.png" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="hidden-content">
              <h4>Web Development</h4>
              <p>Master full-stack web development with this intensive, project-based course.</p>
              </div>
              <div class="showed-content">
                <img src="images/WEB_design_Illustration-removebg-preview.png" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
              <div class="hidden-content">
                    <h4>English Language Mastery</h4>
                        <p>Achieve fluency in English with our comprehensive, activity-driven course designed for all skill levels.</p>
              </div>
              <div class="showed-content">
                <img src="images/Free_Vector___Hand_drawn_english_school_illustration-removebg-preview.png" alt="">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
<div id="blog" class="our-blog section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>Discover Our <em>Latest</em> Events &amp; Stay <span>Informed</span></h2>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="top-dec">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="left-image">
            <a href="#"><img src="images/Free Photo _ Woman with headset having video call on laptop.jpg" alt="Workspace Desktop"></a>
            <div class="info">
              <div class="inner-content">
                <ul>
                  <li><i class="fa fa-calendar"></i> 20 Mar 2024</li>
                  <li><i class="fa fa-users"></i> E-Learning Platform</li>
                  <li><i class="fa fa-folder"></i> Webinars</li>
                </ul>
                <a href="#"><h4>Advanced JavaScript Webinar</h4></a>
                <p>Explore advanced concepts in JavaScript programming with industry experts.</p>
                <div class="main-blue-button">
                  <a href="#">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="right-list">
            <ul>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> 15 Mar 2024</span>
                  <a href="#"><h4>Data Science Bootcamp</h4></a>
                  <p>Join our intensive bootcamp and master the fundamentals of data science.</p>
                </div>
                <div class="right-image">
                  <a href="#"><img src="images/event-thumb-01.jpg" alt=""></a>
                </div>
              </li>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> 10 Mar 2024</span>
                  <a href="#"><h4>Online Course Launch: Python for Beginners</h4></a>
                  <p>Start your journey into Python programming with our beginner-friendly online course.</p>
                </div>
                <div class="right-image">
                  <a href="#"><img src="images/event-thumb-02.jpg" alt=""></a>
                </div>
              </li>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> 05 Mar 2024</span>
                  <a href="#"><h4>Virtual Workshop: Introduction to Machine Learning</h4></a>
                  <p>Learn the basics of machine learning in this interactive virtual workshop.</p>
                </div>
                <div class="right-image">
                  <a href="#"><img src="images/event-thumb-03.jpg" alt=""></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>Feel Free To Send Us a Message About Your Plateform Needs</h2>
           <p>Whether you're looking to launch a new site or enhance an existing one, our team is ready to assist. Reach out with your project details, questions, or any website challenges you're facing.</p>
                <div class="phone-info">
                <h4>For inquiries or support, call us: <span><i class="fa fa-phone"></i> <a href="tel:010-020-0340">010-020-0340</a></span></h4>
                </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-6">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <input type="surname" name="surname" id="surname" placeholder="Surname" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" type="text" class="form-control" id="message" placeholder="Message" required=""></textarea>  
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-button ">Send Message</button>
                </fieldset>
              </div>
            </div>
            <div class="contact-dec">
              <img src="images/contact-decoration.png" alt="">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
