{% extends 'pages/Admin/admindashboard.html.twig' %}

{% block content %}
<div class="main">
 <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">1</div>
                        <div class="cardName">cours</div>
                    </div>
                    </div></div>
                    </div>
                    {% endblock %}