{% extends 'pages/Interface_Communes/userinterface.html.twig' %}

{% block content %}
<div style="padding: 226px 0px 120px 0px;
            position: relative;
            overflow: hidden;">
    <h1>event</h1>
</div>
{% endblock %}
